:root {
  --carousel-image: 1000px;
}
body {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "arial";
}

.logosite {
  width: 150px;
  height: 150px;
}

.wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.search_button {
  cursor: pointer;
}

.service_button_logo {
  width: 30px;
  height: 30px;
}

.service_button {
  width: 80px;
  height: 90px;
  cursor: pointer;
}

.quickfind select {
  display: block;
  width: 100%;
}
