@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
  font-family: "arial";

  background-color: #fefefe;
}

.logosite {
  width: 159px;
  height: 159px;
}

#search_input {
  height: 35px;
  width: 500px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.service_texts {
  font-weight: 700;
  color: #2f2f2f;
}

.service_textting {
  font-weight: 700;
  color: #2f2f2f;
}

.search_button {
  cursor: pointer;
}

.button_search {
  background-color: #525252;
}

.service_button_logo {
  width: 30px;
  height: 25px;
  margin: 5px;
}

.service_button {
  width: 80px;
  height: 60px;
  cursor: pointer;
  position: relative;
  margin: 0 15px;
  background-color: #525252;
}

.service_button_badge {
  position: absolute;
  background-color: #808080;
  font-weight: 700;
  color: rgb(0, 0, 0);
  line-height: 1.1;
  padding: 4px;
  border-radius: 100px;
  height: 26px;
  width: 26px;
  top: -12px;
  right: -10px;
}

.service_button_text {
  font-size: 12px;
  color: white;
  font-weight: 700;
}

.textfind,
.texfindbehind {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-variant: small-caps;
}

.buttonquickfind {
  height: 35px;
  width: 350px;
  margin: 20px 0;
  background-color: #2f2f2f;
  color: white;
}
.quickfind {
  border-color: #2f2f2f;
  border-width: 3px;
  border-style: solid;
  margin: 0 15px 0 0;
  padding: 15px;
  background-color: #f2f2f2;
}

.quickfind select {
  display: block;
  width: 100%;
  padding: 3px;
  margin: 0 0 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.carousel-inner {
  height: 400px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 10px;
}

.product-containter {
  width: 90%;
  text-align: center;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.product-containter a {
  display: block;
}

.search_button_logo {
  width: 15px;
}

.button_search {
  height: 35px;
  width: 90px;
}

.search_button_text {
  float: right;
  display: flex;
  justify-content: flex-end;
  color: white;
}

.imput-from,
.imput-to {
  height: 30px;
  width: 150px;
  margin: 10px;
}

.label-from,
.label-to {
  font-weight: 700;
  font-size: 20px;
  margin-top: 10px;
}

.text-pc {
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  padding: 1px;
  margin: 0 20px 0 20px;
  font-size: 20px;
}

.star-text {
  font-size: larger;
  font-weight: 700;
  margin: 0 20px 0 20px;
  justify-content: center;
}

.img-most {
  display: block;
  max-width: 50%;
  margin: 10px 0;
}

.most-itens {
  border-color: #2f2f2f;
  border-width: 3px;
  border-style: solid;
  padding: 20px;
}

.button-seemore {
  background-color: #2f2f2f;
  color: white;
  float: right;
  width: 150px;
}

.join-now {
  background-color: #24262b;
  color: #ffffff;
  width: 100px;
  float: right;
}

.imput {
  width: 344px;
}

.newsletter {
  margin-top: 120px;
  font-weight: 700;
}

.join-now {
  margin-top: 10px;
}

.most-itens-text {
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 10px;
}

.line-final {
  padding: 2px;
  margin: 0 10px;
}

.content-all {
  align-items: center;
}

.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.footer {
  /* background-color: #24262b; */
  background-color: #e4e4e4;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 700;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #321ee9;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
  font-weight: 300;
  color: #000000;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
